<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Polling System</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/assets/poll.js"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Please vote for your programming language</h1>
    <form>
        <input type="checkbox" name="Java"/>
        <button type="submit">Add Item</button>
      </form>
  </body>
</html>
